Django>=1.7
bpython
Pillow
path.py
django-annoying
django-extensions
MySQL-python
django-sekizai
python-social-auth
django_facebook
South
sorl-thumbnail==11.12.1b
django-ad-code
python-dateutil
raven
fabric
unipath
django-debug-toolbar
werkzeug
