{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}


{% block header_h2 %}
    <h2>Registration</h2>
{% endblock %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-signup small-header {% endaddtoblock %}

<div class="row">
  <div class="columns small-centered small-11">
    {# {{ form }} #}

    <form action="" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <input type="submit" class="hide">
      <div class="page-1">

        <div class="row">
          <div class="columns small-6">
            {{ form.first_name.errors }}
            <input type="text" name="{{ form.first_name.html_name }}" placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value|default_if_none:"" }}" required="">
          </div>
          <div class="columns small-6">
            {{ form.last_name.errors }}
            <input type="text" name="{{ form.last_name.html_name }}" placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value|default_if_none:"" }}" required="">
          </div>
        </div>
        <div class="row">
          <div class="columns">
            {{ form.email.errors }}
            <input type="email" name="{{ form.email.html_name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value|default_if_none:"" }}" autocorrect="off" autocapitalize="off" required="">
          </div>
        </div>
        <div class="row">
          <div class="columns">
            {{ form.password1.errors }}
            <input type="password" name="{{ form.password1.html_name }}" placeholder="{{ form.password1.label }}" required="">
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="checkbox" name="showPassword" id="showPassword"><label for="showPassword" class="small">Show password</label>
          </div>
        </div>
      </div>
      <div class="page-2">
        {% comment %} <!-- Get area from city. Do not need to input this. -->
        <div class="row">
          <div class="columns">
            {{ form.area.errors }}
            {% for radio in form.area %}
              <input type="radio" name="{{ radio.name }}" id="{{form.area.auto_id}}_{{radio.index}}" value="{{ radio.choice_value }}" {% if radio.is_checked %}checked=checked{% endif %} ><label for="{{ form.area.auto_id }}_{{ radio.index }}">{{ radio.choice_label }}</label>
            {% endfor %}
          </div>
        </div>
        {% endcomment %}
        <div class="row">
          <div class="columns">
            {{ form.city.errors }}
            {{ form.city }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="text" onfocus="this.type='date'" name="{{ form.dob.html_name }}" placeholder="{{ form.dob.label }}" value="{{ form.dob.value|default_if_none:"" }}" required="">
          </div>
        </div>
        <div class="row">
          <div class="columns">
            {{ form.gender.errors }}
            {% for radio in form.gender %}
              <input type="radio" name="{{ radio.name }}" id="{{form.gender.auto_id}}_{{radio.index}}" value="{{ radio.choice_value }}" {% if radio.is_checked %}checked=checked{% endif %} ><label for="{{ form.gender.auto_id }}_{{ radio.index }}" class="small">{{ radio.choice_label }}</label>
            {% endfor %}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row">
    <div class="column small-centered small-11">
      <button class="button large expand next">Next</button>
    </div>
    <div class="column small-centered small-11">
      <button class="button large expand submit">Register</button>
    </div>
  </div>
</section>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {

    $('#showPassword').change(function(e) {
      $('[name^="password"]').attr('type', this.checked ? 'text' : 'password');
    });

    $('.next').click(function(e) {
      $('body').addClass('step-2');
      oh.reAdjustFixedBottom();
    });

    $('.submit').click(function() {
      $('form').submit();
    });

    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}


{% endblock %}
