{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}

{% block nav %}
  {# remove the nav #}
{% endblock nav %}

{% block header_h2 %}
    <h2>Registration</h2>
{% endblock %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-signup small-header {% endaddtoblock %}

<div class="row">
  <div class="columns small-centered small-11 medium-5">
    {# {{ form }} #}

    <form action="" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <input type="submit" class="hide">
      <div class="page-1">
        <div class="row">
          <div class="columns">
            <a class="button large expand facebook" href="{% url 'social:begin' 'facebook' %}">Sign up with Facebook</a>
          </div>
        </div>

        <div class="column">
          <p class="text-center or">OR</p>
        </div>

        <div class="row">
          <div class="columns small-6">
            <input type="text" name="{{ form.first_name.html_name }}" placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value|default_if_none:"" }}" required="">
            {{ form.first_name.errors }}
          </div>
          <div class="columns small-6">
            <input type="text" name="{{ form.last_name.html_name }}" placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value|default_if_none:"" }}" required="">
            {{ form.last_name.errors }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="email" name="{{ form.email.html_name }}" placeholder="{{ form.email.label }}"
                   value="{{ form.email.value|default_if_none:"" }}" autocorrect="off" autocapitalize="off" required=""
                   {% if form.email.field.widget.attrs.readonly %}readonly="readonly"{% endif %}
            >
            {{ form.email.errors }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="password" name="{{ form.password1.html_name }}" placeholder="{{ form.password1.label }}" required="">
            {{ form.password1.errors }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="checkbox" name="showPassword" id="showPassword"><label for="showPassword" class="small">Show password</label>
          </div>
        </div>
      </div>
      <div class="page-2">
        <div class="row">
          <div class="columns">
            {{ form.division }}
            {{ form.division.errors }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <input type="text" name="{{ form.dob.html_name }}" placeholder="{{ form.dob.label }}" value="{{ form.dob.value|default_if_none:''|safe}}" required="">
            {{ form.dob.errors }}
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <h4>Choose a species best suited to your diving!</h4><br />

            <h5>Group One</h5>
            <p>Snapper, Tarakihi, Giant Boarfish, Pink Maomao, Trevally, John Dory</p>


            <h5>Group Two</h5>
            <p>Snapper, Butterfish, Blue Moki, Kahawai, Trevally, John Dory</p>


            <h5>Group Three</h5>
            <p>Blue Cod, Tarakihi, Butterfish, Blue Moki, Kahawai, Trevally</p>
          </div>
        </div>
        <div class="row">
          <div class="columns">
            {% for radio in form.gender %}
              <input type="radio" name="{{ radio.name }}" id="{{form.gender.auto_id}}_{{radio.index}}" value="{{ radio.choice_value }}" {% if radio.is_checked %}checked=checked{% endif %} ><label for="{{ form.gender.auto_id }}_{{ radio.index }}" class="small">{{ radio.choice_label }}</label>
            {% endfor %}
            {{ form.gender.errors }}
          </div>
        </div>
      </div> <!-- page-2 -->
      <div class="page-3">
        <h2>{{ rules.title }}</h2>
        <div class="rules-content">{{ rules.content|safe }}</div>
      </div>
    </form>
  </div>
</div>

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row">
    <div class="column small-centered small-11 medium-5">
      <button class="button large expand next">Next</button>
    </div>
    <div class="column small-centered small-11 medium-5">
      <button class="button large expand next2">Next</button>
    </div>
    <div class="column small-centered small-11 medium-5">
      <button class="button large expand submit">Agree & Register</button>
    </div>
  </div>
</section>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {

    $('#showPassword').change(function(e) {
      $('[name^="password"]').attr('type', this.checked ? 'text' : 'password');
    });

    if (Modernizr.touch) {
      $('[name="dob"]').focus(function(e) {
        if ($(this).attr('type') != 'date') {
          $(this).blur().attr('type', 'date').focus();
        }
      });
    } else {
      $('[name="dob"]').fdatepicker({
        format: 'yyyy-mm-dd',
        startView: 'decade'
      });
    }

    $('.next').click(function(e) {
      $('body').addClass('step-2');
      oh.reAdjustFixedBottom();
      // focus to region because two step switch too fast no body realize what to do
      $('[name="city"]').focus();
    });

    $('.next2').click(function(e) {
      $('body').addClass('step-3');
      oh.reAdjustFixedBottom();
    });

    $('.submit').click(function() {
      $(this).attr('disabled', true);
      $('form').submit();
    });

    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}


{% endblock %}
