// Page feed
.page-feed {
    .feeds {
        .feed {
            &:not(:first-child) {
                padding-bottom: rem-calc(25);
            }
            h3 {
                font-size: rem-calc(18);
                font-weight: bolder;

                a { @include anchor-primary-color; }
            }
            .image-wrapper {
                display: block;
                position: relative;

                .fish-image {
                    // now just for iPhone
                    height: 320px;
                }

                .summaries {
                    color: $white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: $primary-color;
                    opacity: 0.8;
                    font-size: rem-calc(18);

                    .columns {
                        padding: rem-calc(8) 0;
                        $border-width: 1px;
                        border-right: $border-width solid scale-color($primary-color, $lightness: 5%);

                        &:last-child { border-right: none; }
                    }
                }
            }
            .comments {
                list-style: none;
                margin-top: rem-calc(8);
                margin-left: 0;
                font-size: rem-calc(14);
                .comment { @include font-weight-lighter; }
                .name {
                    @include anchor-primary-color;
                    font-weight: bolder;
                }
                .expand {  }
                .more {
                    display: inline-block;
                    padding: 0 rem-calc(12);
                    float: right;
                    letter-spacing: rem-calc(2);
                }
                .new-comment {
                    display: none;
                    $height: rem-calc(40);
                    $font-size: rem-calc(16);
                    [name="content"] {
                        height: $height;
                        background-color: $white;
                        /* border-color: white; */
                        border-color: $white;
                        /* margin-right: 20px; */
                        color: $black;
                        font-size: $font-size;
                        padding: 0 0.5rem;
                    }
                    .button {
                        background-color: $white;
                        background-image: none;
                        color: $primary-color;
                        text-shadow: none;
                        font-size: $font-size;
                        font-weight: $font-weight-normal;
                        // line-height: 2.3;
                        margin: 0;
                        height: $height;
                        line-height: $height;

                        &:hover {
                            background-color: $primary-color;
                            color: $white;
                        }
                    }
                }
            }
        }
    } // .feeds
}
