// Page feed
.page-feed {
    .feeds {
        &.infinite-loading:after {
            content: "Loading...";
            display: table;
            position: absolute;
            bottom: rem-calc(-20);
            padding: rem-calc(10);
            font-size: rem-calc(14);
            width: 100%;
            text-align: center;
            @include font-weight-lighter;
        }
        .feed {
            &:not(:first-child) {
                padding-bottom: rem-calc(25);
            }
            h3 {
                font-size: rem-calc(18);
                font-weight: bolder;

                a { @include anchor-primary-color; }
            }
            .image-wrapper {
                display: block;
                position: relative;

                .fish-image {
                    // now just for iPhone
                    width: 100%;
                }

                .summaries {
                    color: $white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: $primary-color;
                    opacity: 0.8;
                    font-size: rem-calc(18);

                    .columns {
                        padding: rem-calc(8) 0;
                        $border-width: 1px;
                        border-right: $border-width solid scale-color($primary-color, $lightness: 5%);

                        &:last-child { border-right: none; }
                    }
                }
            }
            .comments-title { display: none; }
            .comments {
                @media #{$small-only} {
                    @include grid-column(12);
                }
                list-style: none;
                margin-top: rem-calc(8);
                margin-left: 0;
                font-size: rem-calc(14);
                .comment { @include font-weight-lighter; }
                .name {
                    @include anchor-primary-color;
                    font-weight: bolder;
                }
            }
            .actions {
                font-size: rem-calc(14);
                @media #{$small-only} {
                    @include grid-column(12);
                }
            }
            .expand {
                color: $jumbo;
                &:hover { color: $white; }
            }
            .more {
                display: inline-block;
                padding: 0 rem-calc(12);
                float: right;
                letter-spacing: rem-calc(2);
            }
            .new-comment {
                @media #{$small-only} {
                    @include grid-column(12);
                }
                display: none;
                $height: rem-calc(40);
                $font-size: rem-calc(16);
                [name="content"] {
                    height: $height;
                    background-color: $white;
                    /* border-color: white; */
                    border-color: $white;
                    /* margin-right: 20px; */
                    color: $black;
                    font-size: $font-size;
                    padding: 0 0.5rem;
                }
                .button {
                    background-color: $white;
                    background-image: none;
                    color: $primary-color;
                    text-shadow: none;
                    font-size: $font-size;
                    font-weight: $font-weight-normal;
                    // line-height: 2.3;
                    margin: 0;
                    height: $height;
                    line-height: $height;

                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                    }
                }
            }
        }

    @media #{$medium-up} {
        padding-top: $column-gutter;
        margin-left: $column-gutter;
        margin-right: $column-gutter;

        .feed {
            .wrap-for-medium {
                @include clearfix;
                padding: $column-gutter / 2;
                // border: 3px solid scale-color($black, $lightness: 10%);
                box-shadow: 0 0 5px scale-color($black, $lightness: 15%);
                background-color: black;
            }
            .image-wrapper {
                .summaries {
                    font-size: rem-calc(14);
                    position: relative;
                    opacity: 1;
                }
            }
            .actions {
                margin-bottom: rem-calc(2);
                .expand { color: scale-color($white, $lightness: -30%); }
            }
            .meta {
                padding-top: rem-calc(5);
                font-size: rem-calc(13);
                border-top: 1px solid scale-color($black, $lightness: 10%);

                img { height: rem-calc(24); border-radius: 50%; }
                .more { margin-right: rem-calc(-12); }
            }

            // style for enlarge page and enlarge mode
            &.enlarge {
                width: 100%;
                z-index: 10;
                .wrap-for-medium {
                }
                .image-wrapper {
                    @include grid-column(6);
                    $padding: $column-gutter / 3;
                    padding: $padding $padding 0;
                    background-color: $primary-color;

                    .summaries { font-size: rem-calc(18); }
                }
                .enlarge-medium-col {
                    @include grid-column(6);
                }
                .comments-title { display: block; color: $white; }
                .comments { font-size: rem-calc(16); }
            }
        }
    } // @media medium up


        @media #{$large-up} {
            &.new-comment-focus {
                .feed {
                    -webkit-transition: all 100ms ease-out;
                    -webkit-transform: scale3d(1, 1, 1);
                    &:not(.focus) {
                        $scale: 0.9;
                        // opacity: 0.4;
                        -webkit-transform: scale3d($scale, $scale, $scale);
                        .wrap-for-medium:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0; left: 0; right: 0; bottom: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                        }
                    }
                    &.focus {
                        $scale: 1.1;
                        // opacity: 1;
                        -webkit-transform: scale3d($scale, $scale, $scale);
                        z-index: 10;
                    }
                }
            }
        } // @media large up

    } // .feeds
}
