.page-leaderboard {
    .top-bar .name h1 a { margin-left: auto; margin-right: auto; text-align: center; }
    .filter-button {
        position: absolute;
        left: 0;
        i {
            line-height: $topbar-height;
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
            padding-right: 4px;
        }
        padding-left: 15px;
        cursor: pointer;
        color: $topbar-link-color;
        text-transform: $topbar-menu-link-transform;
        font-size: $topbar-menu-link-font-size;
        font-weight: $topbar-menu-link-weight;
        height: $topbar-height;
        line-height: $topbar-height;

        span { @media #{$small-only} {display: none; } }
    }
    .filters {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: rem-calc(10);
        padding-top: rem-calc(10);
        background-color: black;
        border-top: 1px solid scale-color($black, $lightness:15%);
        border-bottom: 1px solid scale-color($black, $lightness:15%);

        .filter {
            float: left;
            margin-right: rem-calc(15);
            color: $primary-color;

            .remove {
                // clear the button style
                display: inline;
                background: none;
                text-shadow: none;
                padding: 0;
                margin: 0;
            }
        }
    }

    .solos {
        $spacing: rem-calc(15);
        list-style: none;
        margin-left: 0;
        .solo {
            &.swiper-slide { box-sizing: border-box; }
            @media #{$medium-up} {
                width: percentage(1 / 4.2);
            }
            padding-bottom: $spacing;
            padding-top: $spacing;
            &:not(:first-child) {
                border-top: 1px solid scale-color($black, $lightness:5%);
            }
            .fish-image { width: 100%; }
            .content { padding-left: $spacing; }
            .name {
                // to fix foundation show-for-small-only
                span.show-for-small-only { display: inline !important; }
            }
            .city { margin-bottom: $spacing; color: scale-color($white, $lightness:-50%); }
            .points {}
        }
    }

    .filter-reveal-modal {
        form { padding-top: rem-calc(15); }
        [type="radio"] {
            display: none;

            & ~ label {
                @include form-element;
                line-height: 1.1;
                padding-left: 0;
                padding-right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                text-align: center;

                &:hover {
                    background-color: $black;
                    color: $primary-color;
                }
            }

            &:hover ~ label, &:checked ~ label {
                background-color: $black;
                color: $primary-color;
            }

        }

        .close, .submit {
            width: 100%;
            text-align: center;
            font-size: rem-calc(30);
            background-color: transparent;
            background-image: none;
            text-shadow: none;
        }
        .close { color: $red; &:hover { color: scale-color($red, $lightness: 20%); } }
        .submit { color: $green; &:hover { color: scale-color($green, $lightness: 20%); } }
    }


    @media #{$medium-up} {
        .solos {
            $spacing: $column-gutter / 2;
            .solo {
                padding-left: $spacing;
                padding-right: $spacing;
                // &:first-child { padding-left: $spacing; }
                // &:last-child { padding-right: $spacing; }

                .rank {
                    padding: $spacing/2 $spacing;
                    font-size: rem-calc(20);
                    color: scale-color($white, $lightness: -30%);
                }
                .image-wrapper { opacity: 0.8; }
                .content { padding: $spacing/2 $spacing; }

                .wrap-medium {
                    background-color: black;
                    &:hover {
                        background-color: $primary-color;

                        .rank { color: $white; }
                        .city { color: scale-color($black, $lightness: 20%); }
                    }
                }
            }
        }
    }
}
