// Page my fish
.page-myfish {
    .tabs {
        $border-style: 1px solid scale-color($black, $lightness: 15%);
        border-top: $border-style;
        border-bottom: $border-style;
        .tab-title {
            border-right: $border-style;
            &:last-child { border-right: none; }
        }
    }
    .species-list {
        margin-top: rem-calc(20);
        list-style: none;
        .anchor {
            top: -70px;
            position: absolute;
        }
        h3 {
            margin-top: 0;
            // margin-bottom: rem-calc(20);
            font-size: rem-calc(15);
            color: $white;
        }
        .fishes {
            > li { clear: none !important; }
            .fish {
                display: block;
                box-shadow: 0 0 3px black;
                color: scale-color($white, $lightness: -20%);
                .image-wrapper { position: relative; }
                .fish-image { opacity: 0.5; width: 100%; }
                .add { padding: 39%; }
                .placeholder { width: 100%; padding-bottom: 100%; }
                .icon-enlarge {
                    font-size: rem-calc(16);
                    position: absolute;
                    top: 10%;
                    left: 10%;
                }
                &:hover {
                    color: $white;
                    .fish-image {
                        // XXX The animation will cause the image shake
                        // so disabled temporary until I know how to fix
                        // -webkit-transition: opacity 300ms ease-out;
                        // transition: opacity 300ms ease-out;
                        opacity: .75;
                    }
                }
            }
        }
    }


    @media #{$medium-up} {
        // so complicate... just for a rectangle
        .species-list {
            .fishes {
                // for species name as title
                > li:nth-of-type(4n+5) {
                    margin-left: 25%;
                }
                .image-wrapper {
                    .icon-enlarge { font-size: rem-calc(20); }
                }
            }
        }
        .name-grid {
            background-color: black;
            position: relative;
            padding-bottom: 100%;
            box-shadow: 0 0 3px scale-color($black, $lightness: 10%);

            .wrap-name {
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                padding: rem-calc(16) rem-calc(20);

                h3 {
                    color: $primary-color;
                    font-size: rem-calc(16);
                    margin-bottom: 0;
                }
            }
        }
    }
}


.page-myfish-myteam {
    $padding: rem-calc(12);
    .species-list {
        .fishes {
            .fish {
                background-color: black;
                .annotation {
                    @media #{$small-only} {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding-left: $padding;
                        padding-bottom: $padding/2;
                    }
                    p { margin: 0; }
                }
                .pts {
                    @media #{$small-only} { color: $primary-color; }
                    padding: $padding/2 $padding;
                    margin: 0;
                }
                @media #{$small-only} {
                    &:hover {
                        .pts { color: scale-color($primary-color, $lightness: 10%); }
                    }
                }
            }
        }
    }

    @media #{$medium-up} {
        .species-list {
            .fishes {
                .fish {
                    .image-wrapper {
                        .icon-enlarge { font-size: rem-calc(20); }
                        .annotation {
                            padding: $padding;
                        }
                    }
                    .city { color: scale-color($white, $lightness: -40%); }
                    .pts {
                        padding: $padding;
                    }

                    &:hover {
                        background-color: $primary-color;
                        .city { color: scale-color($black, $lightness: 20%); }
                        .pts { border-top: 1px solid scale-color($primary-color, $lightness: 3%); }
                    }
                }
            }
        }
    }
}
