// Page my fish new

@mixin transform-scale($scale) {
    -webkit-transform: scale3d($scale, $scale, $scale);
    -ms-transform: scale3d($scale, $scale, $scale);
    transform: scale3d($scale, $scale, $scale);
}

.page-myfish-new {

    .page-2, .summaries, .submit { display: none; }

    &.step-2 {
        .page-1, .next { display: none; }
        .page-2, .summaries, .submit { display: block; }
    }

    .fish-max-reveal-modal {
        h2 { color: $alert-color; }
    }

    .swiper-container {
        .swiper-slide {
            width: 33.33333%;

            .logo {
                position: relative;
                padding: rem-calc(8);
                border: 1px solid scale-color($black, $lightness: 20%);
                border-radius: 50%;
                background-color: scale-color($primary-color, $lightness: -70%);

                @media #{$small-only} {
                    -webkit-transition: -webkit-transform 300ms ease;
                    transition: transform 300ms ease;
                    @include transform-scale(0.75);
                }

                img {
                    width: 100%;
                    opacity: 0.5;
                    -webkit-transition: opacity 300ms ease;
                    transition: opacity 300ms ease;
                }

                .k {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $white;
                    border-radius: 50%;
                    width: 25%;
                    height: 25%;
                    opacity: 0;
                    -webkit-transition: opacity 300ms ease;
                    transition: opacity 300ms ease;
                    span {
                        display: block;
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        text-align: center;
                        color: scale-color($primary-color, $lightness: -70%);
                        font-size: rem-calc(14);
                        font-weight: bold;
                    }
                }
            }

            .name {
                margin-top: rem-calc(10);
                @include font-weight-lighter;
                color: $white;
                opacity: 0.3;
                -webkit-transition: opacity 300ms ease;
                transition: opacity 300ms ease;
            }

            &.swiper-slide-active {
                .logo {

                    @media #{$small-only} { @include transform-scale(1); }

                    img {
                        opacity: 1;
                    }

                    .k { opacity: 1; }
                }

                .name { opacity: 1; }
            }

        }
    }

    // On medium screen, no slider, just display them all
    @media #{$medium-up} {
        &.step-2 {
            .cancel { display: none; }
        }

        $totalColumns: 5;
        .swiper-container {
            $spacing: rem-calc(30);
            margin-left: -$spacing;
            margin-right: -$spacing;
            .swiper-slide {
                width: 100% / $totalColumns;

                .logo-wrap { padding: $spacing/3 $spacing 0; }

                &.swiper-slide-active {
                    .logo {
                        background-color: scale-color($primary-color, $lightness: -10%);
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    [type="file"] { visibility: hidden; position: absolute; top: 0; left: 0; height: 0; width: 0; }

    .cover {
        @media #{$small-only} {
            position: absolute;
            top: 45px; left: 0; bottom: 0; right: 0;
        }
        cursor: pointer;
        text-align: center;

        .add-image {
            margin-top: 15%;
            img { width: 55px; }

            p { @include font-weight-lighter; margin-top: rem-calc(10); }
        }

        .image { width: 100%; }

        .close {
            position: absolute;
            top: rem-calc(30);
            right: rem-calc(30);
            font-size: rem-calc(36);
            line-height: 0.2;
            color: $silver;
            font-weight: bold;
            cursor: pointer;
            display: none;
        }

        &.image-attached {
            cursor: default;
            .add-image { display: none; }
            .close { display: block; }
        }
    }

    @media #{$small-only} {
        .summaries {
            @include font-weight-lighter;
            text-align: center;
            background-color: $primary-color;
            opacity: 0.7;
            margin-bottom: rem-calc(15);

            $round-padding: 10px;

            dt {
                padding: rem-calc(2);
                img { height: 12px; margin-right: rem-calc(5); display: inline-block; }
                span { display: inline-block; vertical-align: middle; }
            }
            dd {
                padding: rem-calc($round-padding) rem-calc($round-padding) rem-calc(20);

                .round-bg {
                    width: 100%;
                    padding-bottom: 100%;
                    position: relative;
                    background-color: scale-color($primary-color, $lightness:-40%);
                    border-radius: 50%;
                }

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 25% 20%;
                    font-size: rem-calc(25);

                    .logo { margin-top: -27%; }

                    small {
                        position: absolute;
                        display: block;
                        width: 100%;
                        top: 56%;
                        line-height: 1; // for multiline name
                        left: 0;
                        font-size: 50%;
                    }
                }

            }

            .weight {
                $border-width: 1px;
                border-left: $border-width solid scale-color($primary-color, $lightness: 5%);
                border-right: $border-width solid scale-color($primary-color, $lightness: 5%);

                // fixed the border 1px
                dd {
                    padding-left: rem-calc($round-padding - $border-width);
                    padding-right: rem-calc($round-padding - $border-width);
                }
            }
        }
    }

    // for ipad and pc
    @media #{$medium-up} {
        .page-2 {
            padding-top: rem-calc(50);
        }
        .cover {
            position: relative;

            .add-image {
                margin-top: 25%;
                img { width: 78px; }
                p { margin-top: rem-calc(20); font-size: rem-calc(20); }
            }

            .image { border: rem-calc(10) solid scale-color($primary-color, $lightness: -70%); }
        }
        .summaries {
            $spacing: rem-calc(15);
            $icon-spacing: rem-calc(16);
            $icon-size: rem-calc(39);
            $margin: $icon-size + $icon-spacing*2 + $spacing;

            padding-left: $spacing;
            padding-right: $spacing*4;

            .row {
                padding: rem-calc(14) 0;
                &:first-child { padding-top: 0; }
            }
            .species, .weight { border-bottom: 1px solid scale-color($black, $lightness: 15%); }

            dt  {
                color: scale-color($primary-color, $lightness: -60%);
                margin-left: $margin;
                .icon-wrap {
                    float: left;
                    margin-left: -$margin;
                    background-color: scale-color($primary-color, $lightness: -60%);
                    border-radius: 50%;
                    padding: $icon-spacing;
                    img { height: $icon-size; opacity: 0.7; }
                }
            }

            dd {
                margin-top: $spacing/2;
                margin-left: $margin;
                .content {
                    @include font-weight-lighter;
                    font-size: rem-calc(32);
                }
            }
        }
    }
}
