<!doctype html>
{% load staticfiles sekizai_tags adcode_tags %}
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=1, minimal-ui"/>

		<title>Ocean Hunter</title>

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/touch/apple-touch-icon-144x144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/touch/apple-touch-icon-114x114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/touch/apple-touch-icon-72x72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/touch/apple-touch-icon-57x57-precomposed.png' %}">
        <link rel="shortcut icon" sizes="196x196" href="{% static 'img/touch/touch-icon-196x196.png' %}">
        <link rel="shortcut icon" href="{% static 'img/touch/apple-touch-icon.png' %}">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Ocean Hunter">

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <script src="{% static 'js/libs/modernizr.build.js' %}"></script>
		<link rel="stylesheet" href="{% static 'build/css/main.css' %}"/>

        <script>
            var OC = OC || {};
            OC.user = OC.user || {};
            OC.user.first_name = "{{ user.first_name }}";
            OC.user.last_name = "{{ user.last_name }}";
            OC.user.id = "{{ user.id }}";

            var settings = settings || {};
            settings.APP_ID = "{{ FACEBOOK_APP_ID }}";
            settings.DOMAIN_NAME = "http://oceanhunter.node.co.nz";
            settings.LOGIIN_CALLBACK_URL = "/fbcb";
            settings.LOGIN_URL = "https://www.facebook.com/v2.0/dialog/oauth?client_id=" + settings.APP_ID + "&scope=publish_actions,user_friends&redirect_uri=" + settings.DOMAIN_NAME + settings.LOGIIN_CALLBACK_URL;
        </script>
    </head>


	<body class="{% render_block 'body-class' %}">

    {# this page wrap is for transparent blur modal #}
    <div class="page-wrap">

    {% block nav %}
        <div class="fixed">
            <nav class="top-bar oc-top-bar" data-topbar role="navigation">

              <ul class="title-area">
                {% block nav_title %}
                <li class="name">
                  <h1><a href="/">Ocean Hunter</a></h1>
                </li>
                {% endblock nav_title %}
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
              </ul>

              <section class="top-bar-section">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}">
                </div>
                <!-- Left Nav Section -->
                <ul class="">
                  <li><a href="{% url 'home' %}"><i class="icon-home"></i>Home</a></li>
                  <li><a href="{% url 'myfish_new' %}"><i class="icon-myfish-new"></i>Enter my fish</a></li>
                  <li><a href="{% url 'myfish' %}"><i class="icon-myfish"></i>My fish</a></li>
                  <li><a href="{% url 'leaderboard' %}"><i class="icon-leaderboard"></i>Leader board</a></li>
                </ul>
              </section>
            </nav>
        </div>
    {% endblock nav %}


    {% for message in messages %}
      <div class="row">
        <div class="columns small-centered small-11 medium-8">
          <div data-alert class="alert-box {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    {% endfor %}


    {% block invitation %}
      {% for invite in unread_invites %}
      <div class="row">
        <div class="columns small-centered small-11 medium-8">
          <div data-alert class="alert-box">
            <span class="lighter"><a href="{% url 'userfish' invite.inviter.id %}">{{ invite.inviter.first_name }} {{ invite.inviter.last_name }}</a> invite you to join team</span> <a href="{% url 'team_alone' invite.team.id %}">{{ invite.team.name }}</a>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endblock invitation %}


    {% block header %}
    <header>
        <a class="logo" href="/"><img src="{% static 'img/logo.png' %}" alt="Ocean Hunter"/></a>
        {% block header_h2 %}{% endblock %}
    </header>
    {% endblock %}


    {% block content %}{% endblock %}

    <div class="fixed-to-bottom-wrapper">
        {% render_block 'fixed-to-bottom' %}
        {% block footer %}
        <footer>
            <a href="">Terms & conditions</a> |
            <a href="">Privacy Policy</a>
        </footer>
        {% endblock %}
    </div>

    </div> {# end of .page-wrap #}

    {% if debug %}
    <script src="{% static 'js/libs/jquery-1.11.0.min.js' %}"></script>
    {% else %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% endif %}
    {# ad code #}
    {% render_section_header %}
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/libs/foundation.min.js' %}"></script>
    <script src="{% static 'build/js/FacebookAuth.js' %}"></script>
    <script src="{% static 'js/loadFacebook.js' %}"></script>
    <script src="{% static 'js/libs/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/libs/load-image.min.js' %}"></script>
    <script src="{% static 'js/libs/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'build/js/main.js' %}"></script>
    <script>
        // for debug the menu
        // $(function() { $('.menu-icon').click(); });
    </script>
    {% render_block 'js' %}
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

	</body>
</html>
