{% extends 'base.html' %}

{% load staticfiles sekizai_tags thumbnail humanize adcode_tags %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block nav_title_text %}
  {% if not enlarge %}
    Current Catches
  {% endif %}
{% endblock nav_title_text %}

{% block content %}

{% addtoblock 'body-class' %} page-feed {% endaddtoblock %}

<ul class="small-block-grid-1 {% if enlarge %} medium-block-grid-1 {% else %} medium-block-grid-3 {% endif %} feeds">
  {% for f in feeds %}
    {% if enlarge and forloop.first %}
      {% addtoblock 'head' %}
      <meta property="og:url" content="{{ BASE_URL }}{% url 'fish_enlarge' f.id %}">
      <meta property="og:title" content="{% include "_share_title.html" with f=f %}">
      <meta property="og:image" content="{{ BASE_URL }}{% thumbnail f.image "600x600" crop="center" as im %}{{ im.url }}{% endthumbnail %}">
      <meta property="og:description" content="{% include "_share_description.html" with f=f %}">
      {% endaddtoblock %}
    {% endif %}
    {% if forloop.counter0|add:"3"|divisibleby:"5" %}
      <li class="feed row infinite-item">
        <div class="show-for-small-only">
          {% render_placement 'mobile-banner' %}
        </div>
        <div class="show-for-medium-up">
          {% render_placement 'medium-tile' %}
        </div>
      </li>
    {% endif %}
    <li class="feed row fish fish-{{ f.id }} infinite-item {% if enlarge %} enlarge {% endif %}">
      <div class="wrap-for-medium">
      <h3 class="columns small-12 show-for-small-only"><a href="{% url 'userfish' f.user.id %}">{{ f.user.first_name }} {{ f.user.last_name }}</a></h3>

      <div class="image-wrapper">
        {# enlarge mode only display one fish, do not need link to myself #}
        {% if not enlarge %}<a href="{% url 'fish_enlarge' f.id %}" class="link-to-enlarge" data-share-title="{% include "_share_title.html" with f=f %}">{% endif %}
        <img class="fish-image lazyload"
          data-srcset="{% thumbnail f.image "240x240" crop="center" as im %}{{ im.url }} 240w{% endthumbnail %},
                  {% thumbnail f.image "320x320" crop="center" as im %}{{ im.url }} 320w{% endthumbnail %},
                  {% thumbnail f.image "480x480" crop="center" as im %}{{ im.url }} 480w{% endthumbnail %},
                  {% thumbnail f.image "640x640" crop="center" as im %}{{ im.url }} 640w{% endthumbnail %},
                  {% thumbnail f.image "900x900" crop="center" as im %}{{ im.url }} 900w{% endthumbnail %}"
          data-sizes="(min-width: 40em) {% if not enlarge %}25vw{% else %}45vw{% endif %},
                 100vw"
          src="{% thumbnail f.image "100x100" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
        >
        <div class="row collapse summaries">
          <div class="columns small-6 text-center">{{ f.species.name }}</div>
          <div class="columns small-3 text-center">{{ f.weight }} Kg</div>
          <div class="columns small-3 text-center">{{ f.points }} Pts</div>
        </div>
        {% if not enlarge %}</a>{% endif %}
      </div>
      <div class="enlarge-medium-col">
        <h4 class="comments-title">Comments</h4>
        <ul class="comments">
          {% if f.comment_set.count > 3 %}
            <li><a href="#" class="expand">View previous comments</a></li>
          {% endif %}
          {% for c in f.comment_set.all %}
            <li class="comment {% if forloop.revcounter > 3 %} hide {% endif %}">
              <a class="name" href="{% url 'userfish' c.user.id %}">{{ c.user.first_name }} {{ c.user.last_name|first|capfirst }}.</a> | <span class="content">{{ c.content }}</span>
            </li>
          {% endfor %}
        </ul>
        <div class="new-comment">
          <form>
          <input type="hidden" name="fish_id" value="{{ f.id }}">
          <div class="row collapse">
            <div class="small-10 columns" style="padding-right: 2px;">
              <input type="text" name="content" placeholder="Write a comment...">
            </div>
            <div class="small-2 columns">
              <input type="submit" class="button postfix" value="OK">
            </div>
          </div>
          </form>
        </div>
        <div class="actions">
          <a href="#" class="more show-for-small-only" data-reveal-id="feedModal" data-fish-id="{{ f.id }}" data-user-id="{{ f.user.id }}"> <small>&#8226;&#8226;&#8226;</small> </a>
        </div>
        <div class="meta show-for-medium-up">
          <a href="{% url 'userfish' f.user.id %}">
            <img class="lazyload"
              data-srcset="{% thumbnail f.user.profile.biggest_fish.image "30x30" crop="center" as im %}{{ im.url }} 1x{% endthumbnail %},
                      {% thumbnail f.user.profile.biggest_fish.image "60x60" crop="center" as im %}{{ im.url }} 2x{% endthumbnail %}"
              src="{% thumbnail f.user.profile.biggest_fish.image "30x30" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
            >
            {{ f.user.first_name }} {{ f.user.last_name|first|capfirst }}.
          </a>
          <br>
          <span class="lighter">{{ f.create|naturaltime }}</span>
          <a href="#" class="more" data-reveal-id="feedModal" data-fish-id="{{ f.id }}" data-user-id="{{ f.user.id }}"> <small>&#8226;&#8226;&#8226;</small> </a>
        </div>
      </div>
    </div> <!-- wrap for medium -->
    </li>
  {% endfor %}
  {% if page.has_next %}
    <a href="{% url 'home' %}?p={{ page.next_page_number }}" class="infinite-more-link hide">Next page</a>
  {% endif %}
</ul>


<div id="feedModal" class="reveal-modal oc-reveal-modal feed-reveal-modal collapse small" data-reveal data-options="animation:fade" data-css-top="100">
  <div class="row">
    <div class="columns small-12">
      <h2 data-title-origin="More">More</h2>
    </div>
  </div>
  <div class="row actions hide-delete-btn-wrap">
    <div class="columns small-4 text-center action icon-action comment" data-action data-title="Comment"></div>
    <a class="columns small-4 text-center action icon-action delete" data-action data-title="Delete" data-reveal-id="feedDeleteModal"></a>
    {# <div class="columns small-4 text-center action edit" data-action data-title="Edit"></div> #}
    <div class="columns small-4 text-center action icon-action share" data-action data-title="Share"></div>
  </div>
  <div class="row actions hide share-buttons">
    <div class="columns small-6 text-center action icomoon-action share-facebook" data-action data-title="Share on Facebook"><i class="icomoon-facebook"></i></div>
    <a href="" target="_blank" class="columns small-6 text-center action icomoon-action share-twitter" data-action data-title="Share on Twitter"><i class="icomoon-twitter"></i></a>
    {# <div class="columns small-4 text-center action icomoon-action share-instagram" data-action data-title="Share on Instagram"><i class="icomoon-instagram"></i></div> #}
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="feedDeleteModal" class="reveal-modal oc-reveal-modal feed-delete-reveal-modal collapse small" data-reveal data-options="animation:fade" data-css-top="100">
  <div class="row">
    <div class="columns small-12">
      <h2>Are you sure?</h2>
      <p>This will delete this entry and your points from your fish. If you remove it you will have to upload it again.</p>
    </div>
  </div>
  <div class="row actions">
    <div class="columns small-6 text-center action no">NO</div>
    <div class="columns small-6 text-center action yes">YES</div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


<form id="feedDeleteForm" action="{% url 'myfish_delete' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="id" value="">
</form>


{% addtoblock 'js' %}
<script>
  $(function() {
    var is_enlarge = {{ enlarge|yesno:"true,false" }};

    // to know which menu the user click
    var modal_action_fish_id = null;
    function _get_current_feed() {
      return $('.fish-'+modal_action_fish_id);
    }


    // Click the ... button of feed
    $(document).on('click', '.feed .more', function(e) {
      var btn = $(this);
      var modal = $('#feedModal');
      // set current feed
      modal_action_fish_id = btn.data('fish-id');

      // if the user not the owner, hide the delete button
      var user_id = btn.data('user-id');
      if (user_id != OC.user.id) {
        modal.find('.hide-delete-btn-wrap .small-4').removeClass('small-4').addClass('small-6');
        modal.find('.action.delete').hide();
      } else {
        modal.find('.hide-delete-btn-wrap .small-6').removeClass('small-6').addClass('small-4');
        modal.find('.action.delete').show();
      }
    });


    // click comment button on reveal modal
    $(document).on('click', '[data-action].comment', function(e) {
      $('#feedModal').foundation('reveal', 'close');

      var feed = _get_current_feed();
      if (!oh.checkLoginAndAlert()) { return; }

      // Animation on focus feed
      // but disabled now. Because it's too slow on iPad, and some bugs when
      // submit new comment.
      // $('.feeds').addClass('new-comment-focus');
      // feed.addClass('focus');

      feed.find('.new-comment').show()
          .find('[name="content"]').focus();

      reLayout(); // re layout after DOM change because of masonry
    });


    $(document).on('submit', '.new-comment form', function(e) {
      e.preventDefault();

      var f = $(this);
      var csrftoken = $.cookie('csrftoken');
      var input_elm = f.find('[name="content"]');
      var content = $.trim(input_elm.val());
      var fish_id = f.find('[name="fish_id"]').val();

      if (content.length == 0) { return; }

      var payload = {
        csrfmiddlewaretoken: csrftoken,
        content: content,
        fish: fish_id
      };

      // display new comment before actually post to backend
      var new_comment_elm = $('<li class="comment"><a class="name" href="#"></a> | <span class="content"></span></li>');
      new_comment_elm
        .find('a').text(OC.user.first_name + ' ' + OC.user.last_name[0] + '.').end()
        .find('span').text(content);

      new_comment_elm.appendTo(f.closest('.feed').find('.comments'));

      // clear content, hide the input
      input_elm.blur().val('').closest('.new-comment').hide();

      reLayout(); // re layout after DOM change because of masonry

      $.ajax({
        url: "{% url 'ajax_new_comment' %}",
        method: 'POST',
        data: payload
      }).success(function(data) {
        if (data.status == 'success') {
        }
      });
    });


    // Show hidden comments
    $(document).on('click', '.expand', function(e) {
      e.preventDefault();
      $(this).closest('.comments').find('.comment').removeClass('hide');
      $(this).remove();
      reLayout();
    });


    // click no button on delete modal
    $(document).on('click', '.feed-delete-reveal-modal .action.no', function(e) {
      $('#feedDeleteModal').foundation('reveal', 'close');
    });
    // click yes button on delete modal
    $(document).on('click', '.feed-delete-reveal-modal .action.yes', function(e) {
      var form = $('#feedDeleteForm');
      form.find('input[name="id"]').val(modal_action_fish_id);
      form.submit();
    });


    // click share button on modal to show the options: facebook, twitter...
    $(document).on('click', '.action.share', function(e) {
      var modal = $('#feedModal');
      modal.find('.share-buttons').toggle('fast');
    });
    // hide share
    $(document).on('closed.fndtn.reveal', '.feed-reveal-modal', function () {
      var modal = $(this);
      modal.find('.share-buttons').hide();
    });


    function _get_current_feed_share_link() {
      var link;
      if (is_enlarge) {
        link = location.href;
      } else {
        var feed = _get_current_feed();
        link = feed.find('.link-to-enlarge').prop('href');
      }
      return link;
    }

    // share to facebook
    $(document).on('click', '.action.share-facebook', function() {
      FB.ui({
        method: 'share',
        href: _get_current_feed_share_link(),
      }, function(response) {
        $('#feedModal').foundation('reveal', 'close');
      });
    });


    // share to twitter
    $(document).on('click', '.action.share-twitter', function() {
      var feed = _get_current_feed();
      var link_elm = feed.find('.link-to-enlarge');
      var title = link_elm.data('share-title') + ' ' + _get_current_feed_share_link();
      title = encodeURIComponent(title);
      var link = 'https://twitter.com/intent/tweet?text='+title;

      $(this).attr('href', link);
      // do not prevent default here, we need the link
    });


    function reLayout() {
      if (!oh.isSmallScreen()) {
        $('.feeds').masonry();
      }
    }


    // init masonry for iPad and PC
    if (!oh.isSmallScreen()) {
      $('.feeds').imagesLoaded(function() {
        $('.feeds').masonry({
          itemSelector: '.feed',
          transitionDuration: 0
        });
      });
    }

    // Infinite scroll
    $('.feeds').waypoint('infinite', {
      onAfterPageLoad: function() {
        // relayout the masonry on non mobile screen
        if (!oh.isSmallScreen()) {
          var container = $('.feeds');

          var new_feeds = [];
          $('.feed').each(function() {
            var masonry_item = container.masonry('getItem', this);
            if (!(masonry_item instanceof Masonry.Item)) {
              new_feeds.push(this);
            }
          });
          container.masonry('appended', new_feeds);
          // FIXME: relayout after double click
          container.imagesLoaded(reLayout);
        }
      }
    });


    // enlarge one feed
    $(document).on('click', '.link-to-enlarge', function(e) {
      if (!oh.isSmallScreen()) {
        e.preventDefault();
        var feed = $(this).closest('.fish');

        // enlarge
        feed.toggleClass('enlarge');

        // re layout
        $('.feeds').masonry();

        // scroll to new position
        $('html,body').animate({
          scrollTop: feed.offset().top - 75 // padding of header
        }, 0);
      }
    });

  });
</script>
{% endaddtoblock %}

{% endblock content %}
