{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}

{% block header_h2 %}
    <h2>Name your team</h2>
{% endblock %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-invite page-invite-facebook small-header {% endaddtoblock %}

<form action="" method="post">
  {{ form.non_field_errors }}
  {% csrf_token %}
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <label>Name your team
        <input type="text" name="name" required>
      </label>
      {{ form.name.errors }}
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <input type="hidden" name="kind" value="open">
    </div>
  </div>
</form>

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <button class="button large expand submit">Next</button>
    </div>
  </div>
</section>
{% endaddtoblock %}


<div id="createFamilyModal" class="reveal-modal oc-reveal-modal create-family-reveal-modal collapse small" data-reveal data-options="animation:fade" data-css-top="100">
  <div class="row">
    <div class="columns small-12">
      <h2>Family Team</h2>
      <p>A family team consists of 2 adults and 2 juniors only.</p>
    </div>
  </div>
  <div class="row actions">
    <div class="columns small-6 text-center action yes">OK</div>
    <div class="columns small-6 text-center action no">Cancel</div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


{% addtoblock 'js' %}
<script>
  $(function() {

    $('.submit').click(function() {
      if ($('[name="kind"][value="family"]').is(':checked')) {
        $('#createFamilyModal').foundation('reveal', 'open');
      } else {
        $(this).attr('disabled', true);
        $('form').submit();
      }
    });

    $(document).on('click', '.action.yes', function(e) {
      $('.submit').attr('disabled', true);
      $('form').submit();
    });
    $(document).on('click', '.action.no', function(e) {
      $('#createFamilyModal').foundation('reveal', 'close');
    });


    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}



{% endblock %}
