{% extends 'base.html' %}
{% load static sekizai_tags %}

{% block header_h2 %}
  {% if existing_team %}
    <h2>Invite friends</h2>
  {% else %}
    <h2>Create a Team</h2>
  {% endif %}
{% endblock %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-invite small-header {% endaddtoblock %}

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      {% if existing_team %}
        <h3><small>Invite more to your team {{ existing_team.name }}</small></h3>
      {% else %}
        <h3><small>Invite your team mates</small></h3>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
        <a class="button large expand facebook" href="{% spaceless %}
          {% if user.profile.facebook_binded %}
            {% url 'invite_facebook' %}
          {% else %}
            {% url 'social:begin' 'facebook' %}?next={% url 'invite_facebook' %}
          {% endif %}
        {% endspaceless %}">Facebook</a>
    </div>
  </div>
  <div class="column small-centered small-11 medium-5">
    <p class="text-center or">OR</p>
  </div>
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <a class="button large expand orange" href="{% url 'invite_email' %}">Email</a>
    </div>
  </div>
  {% if not existing_team %}
    <div class="row">
      <div class="columns small-centered small-11 medium-5">
        <p> </p>
        <h3><small>You can create a team later</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-11 medium-5">
        <a class="button large expand secondary" href="{% url 'myfish_new' %}">Just me</a>
      </div>
    </div>
  {% endif %}
</section>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {

    $('.submit').click(function() {
      $(this).attr('disabled', true);
      $('form').submit();
    });

    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}



{% endblock %}
