{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}

{% block header_h2 %}
    <h2>Invite friends</h2>
{% endblock %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-invite page-invite-email small-header {% endaddtoblock %}

<form action="" method="post">
  {% csrf_token %}
  <input type="submit" class="hide">
  {% if not existing_team %}
    <div class="row">
      <div class="columns small-centered small-11 medium-5">
        <label>Name your team
          <input type="text" name="name" required>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-11 medium-5">
        <input type="hidden" name="kind" value="open">
        <input type="checkbox" name="kind" value="family" id="kind"><label for="kind" class="small">Is this a family team?</label>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <input type="email" name="email" placeholder="Email" autocorrect="off" autocapitalize="off">
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <input type="email" name="email" placeholder="Email" autocorrect="off" autocapitalize="off">
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <input type="email" name="email" placeholder="Email" autocorrect="off" autocapitalize="off">
    </div>
  </div>
</form>

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row">
    <div class="columns small-centered small-11 medium-5">
      <button class="button large expand submit">Submit</button>
    </div>
  </div>
</section>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {

    $('.submit').click(function() {
      $(this).attr('disabled', true);
      $('form').submit();
    });

    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}



{% endblock %}
