{% extends 'base.html' %}

{% load staticfiles sekizai_tags thumbnail humanize adcode_tags %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block nav_title %}
<li class="filter-button hide-on-menu-expanded" data-reveal-id="filterModal"><i class="icomoon-filter"></i></li>
<li class="name">
   <h1><a href="#">Leader board</a></h1>
</li>
{% endblock nav_title %}

{% block content %}

{% addtoblock 'body-class' %} page-leaderboard {% endaddtoblock %}

<div class="row">
  <ul class="columns small-12 filters">
  <form method="get">
    {% for field in form.filters %}
      <li class="filter">
        {{ field.choice_label }}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
        <sup><button class="remove" type="submit" name="{{ field.name }}" value="">&#215;</button></sup>
      </li>
    {% endfor %}
  </form>
  </ul>
</div>
<ul class="solos row swiper-container">
  <div class="swiper-wrapper">
  {% for u in page.object_list %}
  {% if forloop.counter0|add:"3"|divisibleby:"4" %}
    <li class="show-for-small-only">
      {% render_placement 'mobile-banner' %}
    </li>
  {% endif %}
  <li class="solo columns small-12 swiper-slide">
    <div class="row collapse wrap-medium">
      <div class="columns show-for-medium-up rank">
        {{ forloop.counter|add:start|ordinal }}
      </div>
      <div class="columns small-4 medium-12">
        <a href="{% url 'userfish' u.id %}" class="image-wrapper">
          {% thumbnail u.profile.biggest_fish.image "600x600" crop="center" as im %}<img src="{{ im.url }}">{% endthumbnail %}
        </a>
      </div>
      <div class="columns small-8 medium-12 content">
        <div class="name">
          <span class="show-for-small-only">{{ forloop.counter|add:start|ordinal }} | </span>
          <a href="{% url 'userfish' u.id %}">{{ u.first_name }} {{ u.last_name }}</a>
        </div>
        <div class="city">{{ u.profile.city }}</div>
        <div class="points">{{ u.profile.points }} Points</div>
      </div>
    </div>
  </li>
  {% endfor %}
  </div>
</ul>


<div id="filterModal" class="reveal-modal oc-reveal-modal oc-reveal-modal-full oc-reveal-modal-blur filter-reveal-modal collapse" data-reveal data-options="animation:fade">
  <form method="get">
    <div class="row">
      <div class="columns small-6"><label>{{ form.city.label }}{{ form.city }}</label></div>
      <div class="columns small-6"><label>{{ form.species.label }}{{ form.species }}</label></div>
    </div>
    {% for field in radios %}
      <div class="row">
        {% for radio in field %}
          <div class="columns small-6">
            <input type="radio" name="{{ radio.name }}" id="{{field.auto_id}}_{{radio.index}}" value="{{ radio.choice_value }}" {% if radio.is_checked %}checked=checked{% endif %} >
            <label for="{{ field.auto_id }}_{{ radio.index }}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="row">
      <div class="columns small-6"><button class="close"><i class="icomoon-cross"></i></button></div>
      <div class="columns small-6"><button class="submit"><i class="icomoon-check"></i></button></div>
    </div>
  </form>
</div>


{% addtoblock 'fixed-to-bottom' %}
  <div class="show-for-medium-up">
    {% render_placement 'medium-leaderboard' %}
  </div>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {
    // for debug
    // $('#filterModal').foundation('reveal', 'open');

    // close modal
    $('.close').click(function(e) {
      e.preventDefault();
      $('#filterModal').foundation('reveal', 'close');
    });


    if (!oh.isSmallScreen()) {
      var mySwiper = $('.swiper-container').swiper({
        mode: 'horizontal',
        slidesPerView: 4.2,
        calculateHeight: true,
        cssWidthAndHeight: false,
        mousewheelControl: true,
        mousewheelControlForceToAxis: true,
        roundLengths: true,
        grabCursor: true,
        freeMode: true,
        freeModeFluid: true
      });

      $('#filterModal').data('css-top', '50');
    }

  });
</script>
{% endaddtoblock %}

{% endblock content %}
