{% extends 'base.html' %}

{% load staticfiles sekizai_tags thumbnail humanize adcode_tags %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block nav_title %}
<li class="filter-button hide-on-menu-expanded" data-reveal-id="filterModal"><i class="icomoon-filter"></i> <span>Filter Results</span></li>
<li class="name">
   <h1><a href="#">Leader board</a></h1>
</li>
{% endblock nav_title %}

{% block content %}

{% addtoblock 'body-class' %} page-leaderboard {% endaddtoblock %}

<div class="filters-wrap">
  <div class="row">
    <ul class="columns small-12 filters">
    <form method="get">
      {% for field in form.filters %}
        <li class="filter">
          {{ field.choice_label }}
          <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
          <sup><button class="remove" type="submit" name="{{ field.name }}" value="">&#215;</button></sup>
        </li>
      {% endfor %}
    </form>
    </ul>
  </div>
</div>

{# wrap of row and columns #}
<div class="row"> <div class="columns small-12">

  <ul class="solos small-block-grid-1 medium-block-grid-4">
    {% for obj in page.object_list %}
      {% if forloop.counter0|add:start|add:"5"|divisibleby:"6" %}
        <li class="ad text-center show-for-small-only infinite-item">
          {% render_placement 'mobile-banner' %}
        </li>
      {% endif %}
      {% if forloop.counter0|add:start|add:"2"|divisibleby:"6" %}
        <li class="ad text-center show-for-small-only infinite-item">
          {% render_placement 'medium-tile' %}
        </li>
      {% endif %}
      {% if forloop.counter0|add:start|add:"4"|divisibleby:"8" %}
        <div class="ad text-center show-for-medium-up infinite-item">
          {% render_placement 'medium-leaderboard' %}
        </div>
      {% endif %}
      <li class="solo infinite-item">
        <div class="row collapse wrap-medium">
          <div class="columns show-for-medium-up rank">
            {{ forloop.counter|add:start|ordinal }}
          </div>
          <div class="columns small-4 medium-12">
            {% if obj_type == 'fish' %}
              <a href="{% url 'fish_enlarge' obj.id %}" class="image-wrapper">
                <img class="fish-image lazyload"
                  data-srcset="{% thumbnail obj.image "120x120" crop="center" as im %}{{ im.url }} 120w{% endthumbnail %},
                          {% thumbnail obj.image "240x240" crop="center" as im %}{{ im.url }} 240w{% endthumbnail %},
                          {% thumbnail obj.image "360x360" crop="center" as im %}{{ im.url }} 360w{% endthumbnail %},
                          {% thumbnail obj.image "480x480" crop="center" as im %}{{ im.url }} 480w{% endthumbnail %}"
                  data-sizes="(min-width: 40em) 21vw,
                         31vw"
                  src="{% thumbnail obj.image "120x120" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
                >
              </a>
            {% elif obj_type == 'user' %}
              <a href="{% url 'userfish' obj.id %}" class="image-wrapper">
                <img class="fish-image lazyload"
                  data-srcset="{% thumbnail obj.profile.biggest_fish.image "120x120" crop="center" as im %}{{ im.url }} 120w{% endthumbnail %},
                          {% thumbnail obj.profile.biggest_fish.image "240x240" crop="center" as im %}{{ im.url }} 240w{% endthumbnail %},
                          {% thumbnail obj.profile.biggest_fish.image "360x360" crop="center" as im %}{{ im.url }} 360w{% endthumbnail %},
                          {% thumbnail obj.profile.biggest_fish.image "480x480" crop="center" as im %}{{ im.url }} 480w{% endthumbnail %}"
                  data-sizes="(min-width: 40em) 21vw,
                         31vw"
                  src="{% thumbnail obj.profile.biggest_fish.image "120x120" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
                >
              </a>
            {% else %} {# Team #}
              <a href="{% url 'team_alone' obj.id %}" class="image-wrapper">
                <img class="fish-image lazyload"
                  data-srcset="{% thumbnail obj.biggest_fish.image "120x120" crop="center" as im %}{{ im.url }} 120w{% endthumbnail %},
                          {% thumbnail obj.biggest_fish.image "240x240" crop="center" as im %}{{ im.url }} 240w{% endthumbnail %},
                          {% thumbnail obj.biggest_fish.image "360x360" crop="center" as im %}{{ im.url }} 360w{% endthumbnail %},
                          {% thumbnail obj.biggest_fish.image "480x480" crop="center" as im %}{{ im.url }} 480w{% endthumbnail %}"
                  data-sizes="(min-width: 40em) 21vw,
                         31vw"
                  src="{% thumbnail obj.biggest_fish.image "120x120" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
                >
              </a>
            {% endif %}
          </div>
          <div class="columns small-8 medium-12 content">
            <div class="name">
              <span class="show-for-small-only">{{ forloop.counter|add:start|ordinal }} | </span>
              {% if obj_type == 'fish' %}
                  <a href="{% url 'userfish' obj.user.id %}">{{ obj.user.first_name }} {{ obj.user.last_name }}</a>
              {% elif obj_type == 'user' %}
                  <a href="{% url 'userfish' obj.id %}">{{ obj.first_name }} {{ obj.last_name }}</a>
              {% else %}
                  <a href="{% url 'team_alone' obj.id %}">{{ obj.name }}</a>
              {% endif %}
            </div>

            {% if obj_type == 'user' %}
                <div class="points">{{ obj.profile.points|intcomma }} Points</div>
            {% elif obj_type == 'fish' %}
                <div class="points">{{ obj.points|intcomma }} Points</div>
            {% else %}
                <div class="points">{{ obj.total_points|intcomma }} Points</div>
            {% endif %}
          </div>
      </li>
    {% endfor %}
    {% if page.has_next %}
      <a href="{% url 'leaderboard' %}?p={{ page.next_page_number }}" class="infinite-more-link hide">Next page</a>
    {% endif %}
  </ul>

</div> </div> {# wrap of row and columns #}

<div id="filterModal" class="reveal-modal oc-reveal-modal oc-reveal-modal-full oc-reveal-modal-blur filter-reveal-modal collapse" data-reveal data-options="animation:fade">
  <form method="get">
    <div class="row">
{#      <div class="columns small-6"><label>{{ form.species.label }}{{ form.species }}</label></div>#}
      <div class="columns small-12"><label>{{ form.division.label }}{{ form.division }}</label></div>
    </div>
{#    {% for field in radios %}#}
{#      <div class="row">#}
{#        {% for radio in field %}#}
{#          <div class="columns small-6">#}
{#            <input type="radio" name="{{ radio.name }}" id="{{field.auto_id}}_{{radio.index}}" value="{{ radio.choice_value }}" {% if radio.is_checked %}checked=checked{% endif %} >#}
{#            <label class="filter-radio-label" for="{{ field.auto_id }}_{{ radio.index }}">{{ radio.choice_label }}</label>#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    {% endfor %}#}
    <div class="row">
      <div class="columns small-6"><button class="close"><i class="icomoon-cross"></i></button></div>
      <div class="columns small-6"><button class="submit"><i class="icomoon-check"></i></button></div>
    </div>
  </form>
</div>


{% addtoblock 'fixed-to-bottom' %}
  {# <div class="show-for-medium-up text-center"> #}
    {# {% render_placement 'medium-leaderboard' %} #}
  {# </div> #}
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {
    // for debug
    // $('#filterModal').foundation('reveal', 'open');

    // close modal
    $('.close').click(function(e) {
      e.preventDefault();
      $('#filterModal').foundation('reveal', 'close');
    });

    $('#id_division').on('change', function () {
        if($(this).val()) {
          $('#id_species').removeClass('in-use');
          $(this).addClass('in-use');
        }
    });

    $('#id_species').on('change', function () {
        if($(this).val()) {
          $('#id_division').removeClass('in-use');
          $(this).addClass('in-use');
        }
    });


    // allow radio can be toggle off
    // FIXME this doesnt work on iOS dont waste your time.
    // Coz I've tried:
    // 1. remove FastClick
    // 2. add class needsclick
    // 3. add touchstart touchend
    // 4. onclick=""
    // JUST DONT WASTE YOUR TIME.
    $(document).on('click', '.filter-radio-label', function(e) {
      var input_id = $(this).attr('for');
      var input = $('#'+input_id);
      if (input.prop('checked')) {
        e.preventDefault();
        input.prop('checked', false);
      }
    });


    var AUTO_RADIO = {
      species: {
        0: {
          on: [['unit', 'solo']],
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        }
      },
      unit: {
        solo: {
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        },
        team: {
          off: [
            ['gender', 'male'], ['gender', 'female'],
            ['age', 'junior'], ['age', 'open'],
          ],
          select: [['species', '']]
        }
      },
      team_kind: {
        family: {
          on: [['unit', 'team']],
          off: [
            ['gender', 'male'], ['gender', 'female'],
            ['age', 'junior'], ['age', 'open'],
          ],
          select: [['species', '']]
        },
        open: {
          on: [['unit', 'team']],
          off: [
            ['gender', 'male'], ['gender', 'female'],
            ['age', 'junior'], ['age', 'open'],
          ],
          select: [['species', '']]
        }
      },
      age: {
        junior: {
          on: [['unit', 'solo']],
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        },
        open: {
          on: [['unit', 'solo']],
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        }
      },
      gender: {
        female: {
          on: [['unit', 'solo']],
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        },
        male: {
          on: [['unit', 'solo']],
          off: [['team_kind', 'family'], ['team_kind', 'open']]
        }
      }
    };


    // copy species options to all the other options
    // Species need more specific work
    // 1. select any species then uncheck all teams options
    // 2. check any team options set species to none
    $('[name="species"]').find('option').each(function(i, n) {
      var val = $(this).attr('value');
      if (val) {
        AUTO_RADIO['species'][val] = AUTO_RADIO['species'][0];
      }
    });


    // auto turn off conflict filters
    $(document).on('change', '.filter-reveal-modal input, .filter-reveal-modal select', function(e) {
      var obj = $(this);
      // console.log(obj.attr('name'), obj.val());
      var name = obj.attr('name');
      var val = obj.val();

      if (AUTO_RADIO[name] && AUTO_RADIO[name][val]) {
        var actions = AUTO_RADIO[name][val];
        $.each(actions, function(action, inputs) {
          if (action == 'select') {
            $.each(inputs, function(i, n) {
              var input = $('[name="'+n[0]+'"]');
              input.val(n[1]);
            });
          } else {
            var check_val = action == 'on' ? true : false;
            $.each(inputs, function(i, n) {
              // console.log(n);
              var input = $('[name="'+n[0]+'"][value="'+n[1]+'"]');
              input.prop('checked', check_val);
              // console.log(input);
            });
          }
        });
      }
    });

    if (!oh.isSmallScreen()) {
      $('#filterModal').data('css-top', '50');
    }


    // Infinite scroll
    $('.solos').waypoint('infinite');


  });
</script>
{% endaddtoblock %}

{% endblock content %}
