{% extends 'base.html' %}

{% load staticfiles sekizai_tags thumbnail %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block nav_title %}
<li class="name">
  <h1><a href="#">{{ u.first_name }} {{ u.last_name }} &nbsp;|&nbsp; {{ u.profile.points }} Pts</a></h1>
</li>
{% endblock nav_title %}

{% block content %}

{% addtoblock 'body-class' %} page-myfish {% endaddtoblock %}

<ul class="tabs" role="tablist">
  <li class="tab-title small-6 text-center active" role="presentational"><a href="#" role="tab" tabindex="0" aria-selected="true" controls="panel1-1">{{ possessive }} fish</a></li>
  <li class="tab-title small-6 text-center" role="presentational"><a href="{% url 'userteam' u.id %}" role="tab" tabindex="0" aria-selected="false" controls="panel1-2">{{ possessive }} team</a></li>
</ul>

<ul class="row species-list">
{% for species, fishes in species_list.items %}
  <li class="column small-12 medium-10 medium-centered">
    <h3 class="lighter show-for-small-only">{{ species.name }} &nbsp;|&nbsp; {{ species.points }} Pts</h3>
    <ul class="fishes small-block-grid-3 medium-block-grid-4">
      <li class="show-for-medium-up">
        <div class="name-grid">
          <div class="wrap-name">
            <h3>{{ species.name }}</h3>
            <div class="points">{{ species.points }} Points</div>
          </div>
        </div>
      </li>
      {% for fish in fishes %}
        <li class="">
          <a class="fish" href="{% url 'fish_enlarge' fish.id %}">
            <div class="image-wrapper">
              <img class="fish-image"
                srcset="{% thumbnail fish.image "120x120" crop="center" as im %}{{ im.url }} 120w{% endthumbnail %},
                        {% thumbnail fish.image "240x240" crop="center" as im %}{{ im.url }} 240w{% endthumbnail %},
                        {% thumbnail fish.image "360x360" crop="center" as im %}{{ im.url }} 360w{% endthumbnail %},
                        {% thumbnail fish.image "480x480" crop="center" as im %}{{ im.url }} 480w{% endthumbnail %},
                        {% thumbnail fish.image "640x640" crop="center" as im %}{{ im.url }} 640w{% endthumbnail %}"
                sizes="(min-width: 40em) 18vw,
                       33.3vw"
                src="{% thumbnail fish.image "120x120" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
              >
              <i class="icon-enlarge icomoon-search"></i>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock content %}
