{% extends 'base.html' %}

{% load staticfiles sekizai_tags thumbnail %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block nav_title %}
  <a href="#">{{ u.first_name }} {{ u.last_name }} &nbsp;|&nbsp; {{ u.profile.points }} Pts</a>
{% endblock nav_title %}

{% block content %}

{% addtoblock 'body-class' %} page-myfish {% endaddtoblock %}

<ul class="tabs" role="tablist">
  <li class="tab-title small-6 text-center" role="presentational"><a href="{% url 'userfish' u.id %}" role="tab" tabindex="0" aria-selected="true" controls="panel1-1">My fish</a></li>
  <li class="tab-title small-6 text-center active" role="presentational"><a href="#" role="tab" tabindex="0" aria-selected="false" controls="panel1-2">My team</a></li>
</ul>

<ul class="row species-list">
  <li class="column small-12">
    <ul class="small-block-grid-2 fishes">
      {# XXX don't have a team now so just placeholder #}
      {% for fish in u.fish_set.all|slice:":4" %}
        <li class="">
          <a class="image-wrapper" href="#">
            {% thumbnail fish.image "300x300" crop="center" as im %}<img class="fish-image" src="{{ im.url }}">{% endthumbnail %}
            <img class="icon-enlarge" src="{% static 'img/icon-search.png' %}">
            <div class="annotation">
              <p>{{ u.first_name }} {{ u.last_name }}</p>
              <p>{{ u.profile.city }}</p>
            </div>
          </a>
          <p class="pts">{{ u.profile.points }} Points</p>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>

{% endblock content %}
