{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}

{% block header %}
  {# remove footer #}
{% endblock header %}

{% block footer %}
  {# remove footer #}
{% endblock footer %}

{% block content %}

{% addtoblock 'body-class' %} page-myfish page-myfish-new {% endaddtoblock %}

<form action="{% url 'myfish_new' %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {# {{ form }} #}
  <div class="page-1">
    <div class="row">
      <div class="columns small-centered small-12">
        <label>{{ form.species.label }}</label>
      </div>
    </div>
    <input type="hidden" name="{{ form.species.html_name }}" value="{{ form.species.value|default_if_none:"" }}">
    <input type="hidden" name="{{ form.points.html_name }}" value="{{ form.points.value|default_if_none:"" }}">
    <div class="row">
      <div class="columns small-centered small-12">
        <div class="swiper-container">
          <a class="arrow-left" href="#"></a>
          <a class="arrow-right" href="#"></a>
          <div class="swiper-wrapper">
            {% for s in form.species.field.queryset %}
            <div class="swiper-slide" data-id="{{ s.id }}" data-k="{{ s.k }}">
              <div class="species">
                <div class="logo">
                  <img src="{{ s.logo.url }}">
                </div>
                <div class="name text-center">{{ s.name }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-12">
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="columns small-centered small-12">
        <label>{{ form.weight.label }}
          <input type="number" step="0.001" min="0.001" name="{{ form.weight.html_name }}" value="{{ form.weight.value|default_if_none:"" }}" placeholder="{{ form.weight.help_text }}" required>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-12">
        <label>{{ form.witness.label }}
          <input type="text" name="{{ form.witness.html_name }}" value="{{ form.witness.value|default_if_none:"" }}" placeholder="{{ form.witness.help_text }}" required>
        </label>
      </div>
    </div>
  </div>
  <div class="page-2">
    <input name="{{ form.image.html_name }}" type="file" accept="image/*">
    <div class="cover">
      <div class="add-image">
        <img src="{% static 'img/add.png' %}">
        <p>Please add a picture</p>
      </div>
      <div class="close">&#215;</div>
    </div>
  </div>
</form>

{% addtoblock 'fixed-to-bottom' %}
<section class="bottom-btns">
  <div class="row collapse summaries">
    <div class="columns small-4 species">
      <dt><img src="{% static 'img/icon-species.png' %}"><span>Fish type</span></dt>
      <dd>
        <div class="round-bg">
          <div class="content">
            <img class="logo" src="/media/species/trumpeter.png">
            <small class="name">King Fish</small>
          </div>
        </div>
      </dd>
    </div>
    <div class="columns small-4 weight">
      <dt><img src="{% static 'img/icon-weight.png' %}"><span>Weight</span></dt>
      <dd>
        <div class="round-bg">
          <div class="content">
            <span class="value">26.2</span>
            <small>Kilogram</small>
          </div>
        </div>
      </dd>
    </div>
    <div class="columns small-4 points">
      <dt><img src="{% static 'img/icon-points.png' %}"><span>Points</span></dt>
      <dd>
        <div class="round-bg">
          <div class="content">
            <span class="value">80</span>
            <small>Points</small>
          </div>
        </div>
      </dd>
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-12">
      <button class="button large expand next">Next</button>
      <button class="button large expand orange submit" disabled>Okay</button>
    </div>
  </div>
</section>
{% endaddtoblock %}


{% addtoblock 'js' %}
<script>
  $(function() {
    var mySwiper = $('.swiper-container').swiper({
      mode: 'horizontal',
      centeredSlides: true,
      slidesPerView: 3,
      calculateHeight: true,
      cssWidthAndHeight: false,
      loop: true,
      watchActiveIndex: true,
      mousewheelControl: true,
      mousewheelControlForceToAxis: true,
      roundLengths: true,
      grabCursor: true,
      loopAdditionalSlides: 2,
      onSlideClick: function onSlideClick(swiper) {
        swiper.swipeTo(swiper.clickedSlideLoopIndex);
      }
    });

    // For debug directly to step 2
    // $('body').addClass('step-2');

    $('.next').click(function(e) {
      // fill in summaries
      var activeSlide = $(mySwiper.activeSlide());
      $('.summaries .species .logo').attr('src', activeSlide.find('.logo img').attr('src'));
      $('.summaries .species .name').text(activeSlide.find('.name').text());

      var weight = $('[name="weight"]').val();
      $('.summaries .weight .value').text(weight);

      var k = activeSlide.data('k');
      var points = Math.round(k * weight);
      $('.summaries .points .value').text(points);
      $('input[name="points"]').val(points);

      $('body').addClass('step-2');
      oh.reAdjustFixedBottom();
    });

    // popup the file choose modal
    $('.cover').click(function(e) {
      if ($(this).hasClass('image-attached')) { return; }
      // click the close btn, the image-attached will be remove first
      // and then trigger this, so I need to do a little hack here
      if ($(e.target).hasClass('close')) { return; }
      $('[name="image"]').click();
    });

    // after selected a image
    $('[name="image"]').on('change', function(e) {
      loadImage(e.target.files[0], function(img) {
        $(img).addClass('image');
        $('.cover').addClass('image-attached').append(img);
        $('.submit').attr('disabled', false);
      }, {maxWidth: 640});
    });

    // click x to remove the image
    $('.close').click(function(e) {
      $('[name="image"]').val('');
      $('.cover .image').remove();
      $('.cover').removeClass('image-attached');
      $('.submit').attr('disabled', true);
    });

    $('.submit').click(function() {
      // get the species from the slider and fill into the input
      var species_id = $(mySwiper.activeSlide()).data('id');
      $('input[name="species"]').val(species_id);
      $('form').submit();
    });

    $(document).on('change, blur', 'input', function(e) {
      if( $(e.target).is(':invalid') ){
        $(e.target).parent().addClass('invalid');
      } else {
        $(e.target).parent().removeClass('invalid');
      }
    });

  });
</script>
{% endaddtoblock %}



{% endblock %}
