@import "foundation/normalize";
@import "settings";
// TODO: just import necessary components, not whole foundation
@import "foundation/foundation";

// XXX: some addons to foundation
@import "foundation_customization";

@import "idangerous.swiper";

.text-orange { color: $orange; }
.text-facebook { color: $facebook-blue; }

@mixin font-weight-lighter {
    font-weight: $font-weight-lighter;
    letter-spacing: rem-calc(0.5px);
}

header {
    text-align: center;
    .logo {
        display: block;
        width: rem-calc(167px);
        margin: 0 auto;
        padding-top: rem-calc(30px);
        padding-bottom: rem-calc(12px);

        .small-header & {
            width: rem-calc(127px);
            padding-top: rem-calc(17px);
            padding-bottom: rem-calc(5px);
        }
    }
}

footer {
    margin-bottom: rem-calc(24px);
    text-align: center;
    font-size: rem-calc(10px);
}

// XXX: ... with footer are attached to the bottom
body {
    height: auto;
    min-height: 100%;
}
.fixed-to-bottom-wrapper {
    opacity: 0;
    @include single-transition(opacity, 0.15s);
    position: absolute;
    bottom: 0;
    width: 100%;

    .bottom-btns {
        padding-bottom: 10px;
    }
}

@import "pages/home";
@import "pages/go";
@import "pages/signup";
@import "pages/login";
@import "pages/invite";
@import "pages/myfish";
