@import "foundation/normalize";
@import "settings";
// TODO: just import necessary components, not whole foundation
@import "foundation/foundation";

// XXX: some addons to foundation
@import "foundation_customization";

@import "idangerous.swiper";

.text-orange { color: $orange; }
.text-facebook { color: $facebook-blue; }

@mixin font-weight-lighter {
    font-weight: $font-weight-lighter;
    letter-spacing: rem-calc(0.5px);
}

header {
    text-align: center;
    .logo {
        display: block;
        width: rem-calc(167px);
        margin: 0 auto;
        padding-top: rem-calc(30px);
        padding-bottom: rem-calc(12px);

        .small-header & {
            width: rem-calc(127px);
            padding-top: rem-calc(17px);
            padding-bottom: rem-calc(5px);
        }
    }
}

footer {
    margin-bottom: rem-calc(24px);
    text-align: center;
    font-size: rem-calc(10px);
}

// XXX: ... with footer are attached to the bottom
body {
    height: auto;
    min-height: 100%;
}
.fixed-to-bottom-wrapper {
    opacity: 0;
    @include single-transition(opacity, 0.15s);
    position: absolute;
    bottom: 0;
    width: 100%;

    .bottom-btns {
        padding-bottom: 10px;
    }
}

// Page home
.page-home {
    .intro p {
        margin-top: rem-calc(30px);
    }
}

// Page go
.page-go {
    .or {
        margin-top: rem-calc(-8px);
        margin-bottom: rem-calc(10px);
    }
}

// Page signup
.page-signup {
    form { padding-top: rem-calc(20); }

    .page-2, .submit { display: none; }

    &.step-2 {
        .page-1, .next { display: none; }
        .page-2, .submit { display: block; }
    }
}

// Page login
.page-login {
    form { padding-top: rem-calc(20); }
    .forgot {
        margin-top: rem-calc(-4);
        font-size: rem-calc(12);
        @include font-weight-lighter;
    }

    .or {
        margin-top: rem-calc(13px);
        margin-bottom: rem-calc(33px);
    }
}

// Page invite
.page-invite {
    h3 small {
        font-size: rem-calc(15px);
        letter-spacing: rem-calc(0.5px);
        color: $white;
    }

    .or {
        margin-top: rem-calc(-8px);
        margin-bottom: rem-calc(13px);
    }
}

.page-myfish-new {
    .swiper-container {
        .swiper-slide {
            width: 33.33333%;

            .logo {
                padding: rem-calc(8);
                border: 1px solid $jumbo;
                border-radius: 50%;
                background-color: scale-color($primary-color, $lightness: -70%);

                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
                -webkit-transform: scale3d(0.75, 0.75, 0.75);
                -ms-transform: scale3d(0.75, 0.75, 0.75);
                transform: scale3d(0.75, 0.75, 0.75);

                img {
                    width: 100%;
                    opacity: 0.5;
                    -webkit-transition: opacity 300ms ease;
                    transition: opacity 300ms ease;
                }
            }

            .name {
                margin-top: rem-calc(10);
                @include font-weight-lighter;
                color: $white;
                opacity: 0.3;
                -webkit-transition: opacity 300ms ease;
                transition: opacity 300ms ease;
            }

            &.swiper-slide-active {
                .logo {

                    -webkit-transform: scale3d(1, 1, 1);
                    -ms-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);

                    img {
                        opacity: 1;
                    }
                }

                .name { opacity: 1; }
            }

        }
    }

}
