@import "foundation/normalize";
@import "settings";
// TODO: just import necessary components, not whole foundation
@import "foundation/foundation";

// XXX: some addons to foundation
@import "foundation_customization";

@import "idangerous.swiper";

.fix-for-grid-block-overflow { overflow-x: hidden; }

a:focus { outline: none; }

.text-orange { color: $orange; }
.text-facebook { color: $facebook-blue; }

@mixin anchor-primary-color {
    color: $primary-color;
    &:hover { color: $anchor-font-color-hover; }
}

@mixin font-weight-lighter {
    font-weight: $font-weight-lighter;
    letter-spacing: rem-calc(0.5px);
}

header {
    text-align: center;
    .logo {
        display: block;
        width: rem-calc(167px);
        margin: 0 auto;
        padding-top: rem-calc(30px);
        padding-bottom: rem-calc(12px);

        .small-header & {
            width: rem-calc(127px);
            padding-top: rem-calc(17px);
            padding-bottom: rem-calc(5px);
        }
    }
}

footer {
    margin-bottom: rem-calc(24px);
    text-align: center;
    font-size: rem-calc(10px);
    @include font-weight-lighter;
}

// XXX: ... with footer are attached to the bottom
body {
    height: auto;
    min-height: 100%;
}

.fixed-to-bottom-wrapper {
    opacity: 0;
    @include single-transition(opacity, 0.15s);
    position: absolute;
    bottom: 0;
    width: 100%;

    .bottom-btns {
        padding-bottom: 10px;
    }
}

// I use foundation top-bar as a menu
// XXX Maybe use a reveal?
.oc-top-bar {

    .name {
        -webkit-transition: opacity 100ms ease;
        transition: opacity 100ms ease;
    }
    .logo { display: none; }
    .top-bar-section {
        ul li > a {
            $icon-height: 25px;
            i {
                display: inline-block;
                vertical-align: middle;
                width: $icon-height; height: $icon-height; background-size: $icon-height; margin-right: rem-calc(10);
                background-position: top left;
                &.icon-home { background-image: url('../../img/icon-home.png'); }
                &.icon-myfish-new { background-image: url('../../img/icon-myfish-new.png'); }
                &.icon-myfish { background-image: url('../../img/icon-myfish.png'); }
                &.icon-leaderboard { background-image: url('../../img/icon-leaderboard.png'); }
            }
            &:hover i { background-position-y: $icon-height; }
        }
        opacity: 0;
        -webkit-transition: opacity 300ms ease;
        transition: opacity 300ms ease;
        @media #{$medium-up} { opacity: 1; }
    }

    &.expanded {
        position: absolute;
        bottom: 0;
        background: $black;
        .name { opacity: 0; }

        .top-bar-section {
            opacity: 1;
            .logo {
                display: block;
                margin: 0 auto;
                width: rem-calc(127);
                padding-bottom: rem-calc(40);
            }
            ul li {
                border-top: 1px solid scale-color($black, $lightness: 10%);
                &:last-child { border-bottom: 1px solid scale-color($black, $lightness: 10%); }

                @include grid-column(12);

                > a {
                    @include font-weight-lighter;
                    text-transform: uppercase;
                    font-size: rem-calc(20);

                    $icon-height: 45px;
                    i { width: $icon-height; height: $icon-height; background-size: $icon-height; margin-right: rem-calc(15); }
                    &:hover i { background-position-y: $icon-height; }
                }
            }
        }

    }
}

.oc-reveal-modal {
    // remove default whole page reveal on small screen
    min-height: 0;
    width: 85%;
    // top: rem-calc(100);
    left: 0;
    right: 0;
    // center
    margin: 0 auto;

    h2 {
        color: $orange;
        margin-top: rem-calc(12);
    }

    $border-style: 1px solid $oil;
    .actions {
        border-top: $border-style;
    }
    .action {
        $icon-size: rem-calc(30);
        $spacing: rem-calc(12);
        line-height: 0;
        padding-top: $spacing;
        padding-bottom: $spacing;
        cursor: pointer;
        // Icon
        &:before {
            content: "";
            width: $icon-size;
            height: $icon-size;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: $icon-size;
            display: inline-block;

        }
        &:hover:before { background-position-y: -$icon-size; }
        &.edit:before { background-image: url('../../img/icon-edit.png'); }
        &.comment:before { background-image: url('../../img/icon-comment.png'); }
        &.share:before { background-image: url('../../img/icon-share.png'); }
        &.delete:before { background-image: url('../../img/icon-delete.png'); }

        &:not(:last-child) {
            border-right: $border-style;
        }

    }
}


@import "pages/home";
@import "pages/go";
@import "pages/signup";
@import "pages/login";
@import "pages/invite";
@import "pages/myfish";
@import "pages/feed";
